
@{
    ViewData["Title"] = "Admin | WebClinic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">WebClinic</a>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ul>
</nav>
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="admin-patients.html"><button type="button" class="btn btn-info">Patients</button></a>
    <a href="admin-users.html"><button type="button" class="btn btn-info">Users</button></a>
    <a href="admin-nurses.html"><button type="button" class="btn btn-info">Nurses</button></a>
    <a href="admin-doctors.html"><button type="button" class="btn btn-info">Doctors</button></a>
    <a href="admin-wards.html"><button type="button" class="btn btn-info">Wards</button></a>
    <a href="admin-departments.html"><button type="button" class="btn btn-info">Departments</button></a>
    <a href="admin-hospitals.html"><button type="button" class="btn btn-info">Hospitals</button></a>
    <a href="admin-medicines.html"><button type="button" class="btn btn-info">Medicines</button></a>
    <a href="admin-prescriptions.html"><button type="button" class="btn btn-info active">Prescriptions</button></a>
    <a href="admin-sensors.html"><button type="button" class="btn btn-info">Sensors</button></a>
</div>
<div class="container">

    <div class="col-lg-9 ">
        <div class="jumbotron w-100">
            <div class="block-list">
                <a href="prescriptionpage.html" id="adm-prs1">Prescription 1</a>
                <button type="button" class="btn btn-primary" id="adm-prs1del">Delete</button>
            </div>
            <div class="block-list">
                <a href="prescriptionpage.html" id="adm-prs2">Prescription 2</a>
                <button type="button" class="btn btn-primary" id="adm-prs2del">Delete</button>
            </div>
            <div class="block-list">
                <a href="prescriptionpage.html" id="adm-prs3">Prescription 3</a>
                <button type="button" class="btn btn-primary" id="adm-prs3del">Delete</button>
            </div>
            <div class="block-list">
                <a href="prescriptionpage.html" id="adm-prs4">Prescription 4</a>
                <button type="button" class="btn btn-primary" id="adm-prs4del">Delete</button>
            </div>
            <div class="block-list">
                <a href="prescriptionpage.html" id="adm-prs5">Prescription 5</a>
                <button type="button" class="btn btn-primary" id="adm-prs5del">Delete</button>
            </div>
        </div>
    </div>
</div>

